.fta-page {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 3rem;
}

.fta-h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #7b7979;
    text-align: center;
}

.fta-button {
    margin-top: 5px;
    width: 25%;
    background-color: #3B82F6;
    border-radius: 7px;
    border: none;
    color: white;
    height: 2rem;
    cursor: pointer; /* Cursor de clicar */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suavizar a mudança */
    font-size: medium;
}

/* Botão escurecendo ao passar o mouse */
.fta-button:hover {
    background-color: #2563EB; /* Cor um pouco mais escura */
    transform: scale(1.02); /* Pequeno aumento de tamanho */
}

.fta-div2 {
    border-style: solid;
    border-color: #666161;
    border-width: 3px;
    border-radius: 8px;
    width: 383px;
    margin-bottom: 2rem;
}

.fta-hp {
    font-size: large;
    font: bold;
    margin-left: 0.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fta-p {
    padding-left: 1rem;
    color: #666161;
}

.fta-hr {
    width: 100%;
    border-width: 1.5px;
    border-color: #666161;
}

.fta-div {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 50%;
}

.fta-img {
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.fta-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
}