.login-page {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 4rem;
}

.login-titles {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 1.2rem;
}

.login-h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #0D0A0A
}

.login-h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #7b7979;
}

.login-logo {
    max-width: 100%;
    max-height: 100%;
    width: 6rem;
    margin-top: 1.2rem;
  }

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    gap: 15px; /* Espaçamento automático entre elementos */
}

.login-input {
    height: 2rem;
    width: 20rem;
    border-radius: 7px;
    border-color: #666161;
    padding-left: 20px;
    font-size: medium;
    margin-bottom: 7px;
}

.login-button {
    margin-top: 7px;
    width: 100%;
    background-color: #3B82F6;
    border-radius: 7px;
    border: none;
    color: white;
    height: 2rem;
    cursor: pointer; /* Cursor de clicar */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suavizar a mudança */
    font-size: medium;
}

/* Botão escurecendo ao passar o mouse */
.login-button:hover {
    background-color: #2563EB; /* Cor um pouco mais escura */
    transform: scale(1.02); /* Pequeno aumento de tamanho */
}


.divisao {
    margin-bottom: 15px;
}