.triagem-page {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 1rem;
}

.triagem-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    gap: 15px; /* Espaçamento automático entre elementos */
}

.triagem-input {
    height: 2rem;
    width: 20rem;
    border-radius: 7px;
    border-color: #666161;
    padding-left: 20px;
    font-size: medium;
    margin-bottom: 4px;
}

.triagem-h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #0D0A0A;
    margin-bottom: 25px;
    margin-top: 15px;
}

.triagem-logo {
    max-width: 100%;
    max-height: 100%;
    width: 6rem;
    /* margin-top: 1.2rem; */
  }

.triagem-button {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
    background-color: #3B82F6;
    border-radius: 7px;
    border: none;
    color: white;
    height: 2rem;
    cursor: pointer; /* Cursor de clicar */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suavizar a mudança */
    font-size: medium;
}

/* Botão escurecendo ao passar o mouse */
.triagem-button:hover {
    background-color: #2563EB; /* Cor um pouco mais escura */
    transform: scale(1.02); /* Pequeno aumento de tamanho */
}

.triagem-select {
    height: 2.3rem;
    width: 100%;
    border-radius: 7px;
    border-color: #666161;
    border-width: 2px;
    padding-left: 15px;
    font-size: medium;
    margin-bottom: 4px;
    color: #666161;
}

.triagem-h4 {
    font-size: larger;
    margin-bottom: 0.7rem;
    margin-top: 0.8rem;
}