.ti-page {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    /* margin-top: 0.1rem; */
}

.ti-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    gap: 0.4rem; /* Espaçamento automático entre elementos */
}

.ti-input {
    height: 2rem;
    width: 20rem;
    border-radius: 7px;
    border-color: #666161;
    padding-left: 20px;
    font-size: medium;
    margin-bottom: 1.5rem;
    border-width: 2px;
}

.ti-h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #0D0A0A;
    margin-bottom: 1rem;
    margin-top: 0.2px;
}

.ti-h3 {
    text-align: center; /* Centraliza o texto horizontalmente */
    line-height: 1.5;   /* Ajusta o espaçamento entre as linhas */
    margin: 0.2rem 0;     /* Adiciona margem superior e inferior */
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.ti-logo {
    max-width: 100%;
    max-height: 100%;
    width: 6rem;
  }

.ti-button {
    margin-top: 8rem;
    width: 100%;
    background-color: #3B82F6;
    border-radius: 7px;
    border: none;
    color: white;
    height: 2rem;
    cursor: pointer; /* Cursor de clicar */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suavizar a mudança */
    font-size: medium;
}

/* Botão escurecendo ao passar o mouse */
.ti-button:hover {
    background-color: #2563EB; /* Cor um pouco mais escura */
    transform: scale(1.02); /* Pequeno aumento de tamanho */
}

.ti-textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 8rem;
    width: 20rem;
    border-radius: 7px;
    border-color: #666161;
    padding-left: 20px;
    padding-top: 10px;
    font-size: medium;
    margin-bottom: 4px;
    margin-top: 5rem;
    border-width: 2px;
}

.ti-gestante {
    display: flex;
    flex-direction:row;
    align-items:start;
    margin-bottom: 2rem;
}

.ti-h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
}